<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asignación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asignación</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="page-placeholder">
    <h2>Asignación de fornituras</h2>
    <p>Asignación de fornituras a elementos. El contenido se implementará próximamente.</p>
  </div>
</ion-content>
